.footer {
	--breakout-max-width: 120ch;
	--breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);
	margin-top: auto;
	border-top: 1px solid var(--color-border);
	padding-block: var(--spacing-xl);
	background-color: var(--color-bg-secondary);
	display: grid;
	grid-template-columns: 
		[full-width-start] minmax(var(--padding-inline), 1fr)
		repeat(
			4, 
			[col-start] 
			minmax(
				calc((100% - (var(--breakout-size) * 2)) / 4), 
				calc(var(--breakout-max-width) / 4))
			[col-end]
		)
		minmax(var(--padding-inline), 1fr) [full-width-end];
	align-items: start;

	& > div {
		font-size: var(--font-size-sm);
		
		p {
			margin-bottom: var(--spacing-xs);
		}

		a {
			display: block;
		}

		button {
			margin-bottom: var(--spacing-sm);
		}

		strong {
			font-family: var(--font-family-mono);
		}
	}
}

.footer-nav {
	grid-column: 2;
	gap: var(--spacing-md);
	
	ul {
		display: flex;
		flex-direction: column;
		list-style: none;
	}
}

.footer-credits {
	align-items: flex-end;
	text-align: right;
}

@media (max-width: 1024px) {
	footer > div {
		grid-column: 2 / -2;
		margin-bottom: var(--spacing-lg);
	}

	.footer-credits {
		border-top: 1px solid var(--color-border);
		padding-top: var(--spacing-lg);
		align-items: flex-start;
		text-align: center;
	}
}