@import "./Selector.css";

.theme-selector {
	position: relative;
}

/* Altura específica para o indicador ::after do ThemeSelector (3 opções) */
.theme-selector .dropdown-menu::after {
	height: calc((100% - var(--spacing-xs) * 4) / 3);
}

@supports (anchor-name: --test) {
	.theme-selector .dropdown-menu::after {
		height: anchor-size(
			--hovered-item height,
			anchor-size(
				--active-item height,
				calc((100% - var(--spacing-xs) * 4) / 3)
			)
		);
	}
}
